<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>School Chooser</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="stylesheet" href="css/main.css">

        <script src="js/lib/modernizr-2.6.2.min.js"></script>
        <script data-main="js/main" src="js/lib/require-2.1.10.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="wrapper">

            <div id="app"></div>

        </div>

        <script type="text/template" id="app-view-template">
            <h2 class="app-view-title"><%= content.views[view].title %></h2>
            <p class="app-view-instructions"><%= content.views[view].instructions %></p>
        </script>

        <script type="text/template" id="app-progress-view-template">
            <ul>
                <% _.times(3, function(i) { %>
                    <li>
                        <a id="app-progress-view-<%= i + 1 %>">
                            <span class="number"><%= i + 1 %></span>
                            <span class="label"><%= content.next %></span>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </script>

        <script type="text/template" id="basic-info-form-view-template">
            <label for="basic-info-address"><%= content.address %></label><br />
            <input type="text" id="basic-info-address"
                <% if (addressGISValid) { %> class="valid" <% } %>
                value="<%- address %>" /><br />
            <label for="basic-info-grade"><%= content.grade %></label><br />
            <select id="basic-info-grade">
                <option selected disabled hidden value=""></option>
                <% _.forEach(grades, function(grade) { %>
                    <option value="<%= grade %>" <% if(grade === selectedGrade) { %> selected <% } %>>
                        <%= isNaN(grade) ? content[grade] : parseInt(grade, 10) %>
                    </option>
                <% }); %>
            </select>
        </script>

        <script type="text/template" id="ranking-table-view-template">
            <ul>
                <% _.forEach(selectedItems, function(item) { %>
                    <li class="selected item" data-name="<%= item %>">
                        <div class="wrapper">
                            <span class="touch-target"></span>
                            <span class="name"><%= content.items[item].name %></span>
                        </div>
                    </li>
                <% }); %>
                <li id="ranking-table-view-divider" class="header-row <% if(selectedItems.length > 0) { %> no-placeholder <% } %>">
                    <div class="placeholder">Drag items that are important to you here.</div>
                    <div>Available Items</div>
                </li>
                <% _.forEach(unselectedItems, function(item) { %>
                    <li class="item" data-name="<%= item %>">
                        <div class="wrapper">
                            <span class="touch-target"></span>
                            <span class="name"><%= content.items[item].name %></span>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </script>

        <script type="text/template" id="modal-template">
            <h3><%= content.items[item].name %></h3>
            <p><%= content.items[item].definition %></p>
            <h4><%= content.forTheGeeks %></h4>
            <p class="small"><%= content.items[item].forTheGeeks %></p>
        </script>

        <script type="text/template" id="compare-controls-template">
            <div class="hidden-controls">
                <select id="compare-item">
                    <option selected disabled hidden value=""></option>
                    <% _.forEach(selectedItems, function(item) { %>
                        <option value="<%= item %>">
                            <%= content.items[item].name %>
                        </option>
                    <% }); %>
                </select>
            </div>
            <button id="compare-controls-toggle"><%= content.showCompare %></button>
        </script>

        <script type="text/template" id="school-view-template">
            <div class="wrapper">
                <div class="summary-view">
                    <span class="rank"><%= school.rank %></span>
                    <span class="name"><%= school.name %></span>
                    <% if (school.zoned) { %> <span class="zoned"><%= content.zoned %></span> <% } %>
                </div>
                <div class="detail-view">
                    <% _.forEach(selectedItems, function(item) { %>
                        <h4 id="<%= school.code %>-<%= item %>-title" class="<%= item %>-title item-title">
                            <%= content.items[item].name %>
                        </h4>
                        <div id="<%= school.code %>-<%= item %>-rank" class="<%= item %>-rank item-rank">
                            <p class="placeholder">This school is ranked
                            #<%= _.indexOf(rankingArrays[item],school[item].zscore) + 1 %>
                            out of
                            <%= rankingArrays[item].length %>
                            schools by this measure.</p>
                        </div>
                        <div id="<%= school.code %>-<%= item %>-detail" class="<%= item %>-detail item-detail">
                            <%var details=school[item].val;%>
                            <% switch (item) { case 'academicGrowth': %>
                                <%if(details){%>
                                <p><%if(details.math || details.math===0){%>The math MGP is <%= details.math %>. <%}if(details.reading || details.reading===0){%>The reading MGP is <%= details.reading %>.<%}%>
                                <%}else{%>Sorry! We have no Academic academicGrowth data for this school.<%}%>
                                    </p>
                            <% break; case 'collegeEnrollment': %>
                                <p>Details go here.</p>
                            <% break; case 'graduationRate': %>
                                <p>Details go here.</p>
                            <% break; case 'instructionalStaffPerStudent': %>
                                <p>Details go here.</p>
                            <% break; case 'racialDiversity': %>
                                <%if(details){%>
                                <div class="race-pie-container" />
                                <ul class="details-list">
                                    <li>Asian: <%=app.utils.fPercent(details.asian)%>
                                    </li>
                                    <li>African American: <%=app.utils.fPercent(details.africanAmerican)%>
                                    </li>
                                    <li>Multiracial: <%=app.utils.fPercent(details.multiracial)%>
                                    </li>
                                    <li>Hawaiian/Pacific Islander: <%=app.utils.fPercent(details.multiracial)%>
                                    </li>
                                    <li>Caucausian: <%=app.utils.fPercent(details.white)%>
                                    </li>
                                    <li>Hispanic: <%=app.utils.fPercent(details.hispanic)%>
                                    </li>
                                    <li>American Indian/Alaskan Native: <%=app.utils.fPercent(details.americanIndianAlaskaNative)%>
                                    </li>
                                </ul>
                                <%}else{%>Sorry! We have no racial diversity details for this school <%}%>
                            <% break; case 'schoolClimate': %>
                                <%if(details){%>
                                <ul class="details-list"> 
                                    <li>Attendance rate: <%=app.utils.fPercent(details.attendanceRate)%>
                                        </li>
                                    <%if(details.attendanceRate || details.attendanceRate===0){%>
                                    <li>Suspension rate: <%=app.utils.fPercent(details.suspensionRate)%>
                                        </li><%}%>
                                    <%if(details.attendanceRate || details.attendanceRate===0){%>
                                    <li>Truancy rate: <%=app.utils.fPercent(details.truancyRate)%>
                                        </li><%}%>
                                    <%if(details.attendanceRate || details.attendanceRate===0){%>
                                    <li>Mid-year withdrawal rate: <%=app.utils.fPercent(details.midyearWithdrawal)%>
                                        </li><%}%>
                                </ul>                                
                                <%}else{%>Sorry! We have no school climate details for this school.<%}%>
                            <% break; case 'studentsFromMyNeighborhood': %>
                                 <%if(details){%>
                                 <p><%= details=== -1 ? 'Between one and nine' : details %> students from your neighborhood attend this school.</p>
                                 <%}%>
                            <% break; } %>
                        </div>
                    <% }); %>
                </div>
            </div>
        </script>

        <!-- Google Analytics -->
        <script>
          var generateGUID = function () {
            function _p8(s) {
                var p = (Math.random().toString(16)+"000000000").substr(2,8);
                return s ? "-" + p.substr(0,4) + "-" + p.substr(4,4) : p ;
            }
            return _p8() + _p8(true) + _p8(true) + _p8();
          };

          window.app.GUID = generateGUID();

          // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          // ga('create', 'UA-47727919-1', 'school-chooser');
          // ga('set', '&uid', window.app.GUID);
          // ga('send', 'pageview');
        </script>
    </body>
</html>
