/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #2a2b2c;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    background: #eee;
}

/* For development, gives us an iPhone-sized screen. */
div#wrapper {
    position: relative;
    width: 320px;
    height: 100%;
    margin: 0 auto;
    background: #fff;
}

#app {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
}

.app-view {
    position: relative;
    width: 100%;
    padding: 11px 0 88px 0;
    background: #fff;
}

#app h2 {
    margin: 0;
    padding: 0 11px;
    font-size: 17px;
}

#app p {
    padding: 0 11px;
}

#ranking-table-view ul {
    margin: 0;
    padding: 0;
}

#ranking-table-view li {
    list-style: none;
    position: relative;

    padding: 0 11px;
    height: 45px;
    margin-bottom: -1px;
    line-height: 44px;
    font-weight: 700;

    background: #fff;

    cursor: default;
}

#ranking-table-view li.item span.name {
    display: block;
    height: 100%;
    border-top: 1px solid #d8dae1;
    border-bottom: 1px solid #d8dae1;
    padding-left: 33px;
}

#ranking-table-view li.placeholder {
    transition: color 150ms, border-color 150ms;
    -webkit-transition: color 150ms, border-color 150ms;
    background: #d8dae1;
    font-weight: 300;
    line-height: 38px;
    height: 44px;
    margin: 0;
    padding: 0 8px;
    border: 3px dashed transparent;
}

#ranking-table-view ul.in-motion li.placeholder {
    color: #ff6a30;
    border-color: #ff6a30;
}

#ranking-table-view li.header-row {
    background: #8b91a3;
    color: white;
    height: 22px;
    line-height: 22px;
    z-index: 5;
}

#ranking-table-view li.item span.touch-target {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0; width: 44px; height: 44px;
    text-align: center;
    cursor: move;
}

#ranking-table-view li.item:not(.selected) span.touch-target {
    content: "\f0c9";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #d8dae1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#ranking-table-view li.item:not(.selected) span.touch-target:before { content: "\f0c9"; }

#ranking-table-view li.selected.item span.name,
#ranking-table-view li.item.in-motion span.name {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

#ranking-table-view li.selected.item span.touch-target {
    color: #fff;
    font-weight: 800;
    font-size: 44px;
    line-height: 41px;
}

#ranking-table-view li.selected.item:nth-child(1) { background: #9cdb63; }
#ranking-table-view li.selected.item:nth-child(2) { background: #b0e282; }
#ranking-table-view li.selected.item:nth-child(3) { background: #bfe899; }
#ranking-table-view li.selected.item:nth-child(4) { background: #cdedb1; }
#ranking-table-view li.selected.item:nth-child(5) { background: #d7f1c1; }
#ranking-table-view li.selected.item:nth-child(6) { background: #e1f4d0; }
#ranking-table-view li.selected.item:nth-child(7) { background: #ebf8e0; }

#ranking-table-view li.selected.item:nth-child(1) span.touch-target:before { content: "1"; }
#ranking-table-view li.selected.item:nth-child(2) span.touch-target:before { content: "2"; }
#ranking-table-view li.selected.item:nth-child(3) span.touch-target:before { content: "3"; }
#ranking-table-view li.selected.item:nth-child(4) span.touch-target:before { content: "4"; }
#ranking-table-view li.selected.item:nth-child(5) span.touch-target:before { content: "5"; }
#ranking-table-view li.selected.item:nth-child(6) span.touch-target:before { content: "6"; }
#ranking-table-view li.selected.item:nth-child(7) span.touch-target:before { content: "7"; }

#ranking-table-view li.item.in-motion {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    cursor: move;
}

#basic-info-form-view {
    padding: 0 11px;
}

#basic-info-form-view input,
#basic-info-form-view select {
    width: 100%;
    margin-bottom: 1em;
}

#basic-info-form-view label {
    font-weight: 700;
}

#app-progress-view {
    padding: 11px;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

#app-progress-view ul {
    margin: 0;
    padding: 0;
}

#app-progress-view li {
    display: inline-block;
    list-style: none;
}

#app-progress-view a {
    transition: all 150ms;
    -webkit-transition: all 150ms;
    position: relative;
    display: block;
    height: 66px;
    background: #d8dae1;
    text-decoration: none;
    color: #ecedf0;
    color: rgba(255,255,255,.5);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 1px solid transparent;
    cursor: default;
}

#app-progress-view a span.number {
    transition: all 150ms;
    -webkit-transition: all 150ms;
    font-size: 66px;
    line-height: 56px;
    font-weight: 800;
}

#app-progress-view a span.label {
    transition: all 150ms;
    -webkit-transition: all 150ms;
    display: none;
    opacity: 0;
    position: absolute;
    top: 15px; left: 35px;
    color: #8b91a3;
    font-weight: 700;
    font-size: 21px;
}

#app-progress-view-2 span.number:after {
    transition: all 150ms;
    -webkit-transition: all 150ms;
    position: absolute;
    top: 0; right: -30px; width: 0; height: 0;
    content: ""; display: block;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #d8dae1;
    z-index: 15;
}

#app-progress-view-2.active span.number:after,
#app-progress-view-2.complete span.number:after {
    border-left-color: transparent;
}

.no-touch #app-progress-view-2.next:not(.disabled):hover span.number:after {
    border-left-color: #ff6a30;
}

#app-progress-view-1 {
    width: 83px;
    padding-left: 32px;

    -moz-border-radius-topleft: 66px;
    -moz-border-radius-bottomleft: 66px;

    -webkit-border-top-left-radius: 66px;
    -webkit-border-bottom-left-radius: 66px;

    border-top-left-radius: 66px;
    border-bottom-left-radius: 66px;
}

#app-progress-view-2 {
    width: 91px;
    margin-left: 3px;
    padding-left: 40px;
}

a#app-progress-view-3 {
    width: 109px;
    margin-left: 3px;
    padding-left: 40px;

    -moz-border-radius-topright: 66px;
    -moz-border-radius-bottomright: 66px;

    -webkit-border-top-right-radius: 66px;
    -webkit-border-bottom-right-radius: 66px;

    border-top-right-radius: 66px;
    border-bottom-right-radius: 66px;

    border-right-width: 3px;
}

#app-progress-view-1:after,
#app-progress-view-2:after {
    transition: all 150ms;
    -webkit-transition: all 150ms;
    position: absolute;
    top: -3px; right: -34px; width: 0; height: 0;
    content: ""; display: block;
    border-top: 33px solid transparent;
    border-bottom: 33px solid transparent;
    border-left: 33px solid #d8dae1;
    z-index: 10;
}

#app-progress-view-2:before,
#app-progress-view-3:before {
    position: absolute;
    top: -3px; left: 0; width: 0; height: 0;
    content: ""; display: block;
    border-top: 33px solid transparent;
    border-bottom: 33px solid transparent;
    border-left: 33px solid #fff;
    z-index: 5;
}

#app-progress-view a.complete {
    background: #8b91a3;
    color: #fff;
    color: rgba(255,255,255,1);
    cursor: pointer;
}

#app-progress-view-1.complete:after,
#app-progress-view-2.complete:after {
    border-left-color: #8b91a3;
}

#app-progress-view a.active {
    background: #ff6a30;
    color: #fff;
    color: rgba(255,255,255,1);
}

#app-progress-view-1.active:after,
#app-progress-view-2.active:after {
    border-left-color: #ff6a30;
}

#app-progress-view a.next span.label {
    display: block;
    opacity: 1;
}

#app-progress-view a.next:not(.disabled) span.label {
    color: #ff6a30;
}

#app-progress-view a.next:not(.disabled) {
    border-top-color: #ff6a30;
    border-right-color: #ff6a30;
    border-bottom-color: #ff6a30;
    cursor: pointer;
}

#app-progress-view-2.next:not(.disabled):after {
    border-left-color: #ff6a30;
}

.no-touch #app-progress-view a.next:not(.disabled):hover {
    background: #ff6a30;
}

.no-touch #app-progress-view a.next:not(.disabled):hover span.label {
    color: #fff;
}

.no-touch #app-progress-view a.complete:hover span.number {
    color: #d8dae1;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    /* *text-indent: -9999px; */
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    /* *zoom: 1; */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
